@media screen and (max-width: 1024px) {
  .item {
    flex-basis: calc(33.33% - 1rem);
  }
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex-basis: 100%;
  }
}