// Typography
.item-list {
  h2 {
    @include font-properties(1.625rem, $font-weight-bold, 1.9375rem);
    color: $green-wp;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-weight: $font-weight-bold;
    color: $dark-green-wp;
  }
}

// Item List
.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    &.hidden {
      display: none;
    }
  }
}

// Search and Sort
.search-and-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: top 0.5s ease-in-out;

  &.search-performed {
    top: 10%;
  }

  input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .search-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

// No Results
.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  img {
    width: 200px;
    height: auto;
  }

  p {
    @include font-properties(1.2rem, $font-weight-bold, 1.9375rem);
    margin-top: 10px;
  }
}