
.item {
  flex-basis: calc(20% - 1rem);
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 1rem;
  transition: transform 0.3s; 
  margin-bottom: 1rem;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  max-width: 100%; 
  height: auto;
  cursor: pointer;
  position: relative;
  @include hover-scale(1.1, $green-wp);

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    display: block;
    margin-bottom: 1rem;
  }

  .ant-card-body {
    div {
      margin: 0;
      font-size: 10px;
      text-align: justify;

      a {
        color: $green-wp;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    z-index: 2;
  }
}