@import '../base/variables';

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $font-family;
    font-size: 1.625rem;
    font-weight: $font-weight-bold;
    line-height: 1.9375rem;
    color: $green-wp;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-weight: $font-weight-bold;
    color: $dark-green-wp;
  }

  .item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    &.hidden {
      display: none;
    }
  }

  .item {
    flex-basis: calc(20% - 1rem);
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 0.3s; /* Add border transition */
    margin-bottom: 1rem;
    display: flex; /* Make items flex containers */
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Vertically space content within the item */
    max-width: 100%; /* Allow the item to take full width within its container */
    height: auto; /* Let the item's height adapt to content */
    cursor: pointer;
    position: relative; /* Add this to create a stacking context */

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 4/3;
      display: block;
      margin-bottom: 1rem;
    }

    .ant-card-body {
      div {
        margin: 0; /* Remove default margin for div elements */
        font-size: 10px; /* Adjust the font size as needed */
        text-align: justify;

        a {
          color: $green-wp; /* Apply green color to email anchor */
          text-decoration: underline; /* Add underline to the anchor text */
        }
      }
    }

    &:hover {
      transform: scale(1.1); /* Scale up the hovered item on hover */
      border: 2px solid $green-wp; /* Increase the border size on hover */
      z-index: 2; /* Bring hovered item to the top */
      
    }
  }

  .load-more-btn {
    display: inline-block;
    background: none;
    color: $green-wp;
    border: none;
    padding: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 1rem;
    font-family: $font-family; /* Match the font-family */
    font-size: 1.125rem; /* Match the font-size */
    font-weight: $font-weight-bold; /* Match the font-weight */
    line-height: 1.9375rem; /* Match the line-height */

    &:hover {
      color: darken($green-wp, 5%);
    }
  }
}

.search-and-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: top 0.5s ease-in-out;

  &.search-performed {
    top: 10%;
  }

  input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .search-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  img {
    width: 200px;
    height: auto;
  }
  p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: $font-family; /* Match the font-family */
    font-weight: $font-weight-bold; /* Match the font-weight */
  }
}
