@import '../base/variables';
@import '../base/mixings';

.item {
  @include item-styles;

  img {
    max-width: 100%;
  }

  .item-content {
    margin-left: 1rem;
    flex: 1;

    .item-title {
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
    }

    .item-description {
      margin-bottom: 0.5rem;
    }

    .item-price {
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
    }

    .item-email {
      margin-bottom: 0.5rem;
      opacity: 0.5;
    }
  }

  .add-favorite {
    background-color: $green-wp;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken($green-wp, 10%);
    }
  }
}